<h2>{{ settingPrefix + "TITLE" | translate }}</h2>

<container-element
  [ngSwitch]="setting.type"
  [ngClass]="{ 'setting-checkbox-wrapper': setting.type == 'checkbox' }"
>
  <p>{{ settingPrefix + "DESCRIPTION" | translate }}</p>

  <div *ngSwitchCase="'select'">
    <select [(ngModel)]="value" (change)="change()">
      <option *ngFor="let option of setting.options" [value]="option.value">
        {{ settingPrefix + "OPTIONS." + option.title | translate }}
      </option>
    </select>
  </div>

  <div *ngSwitchCase="'textarea'">
    <textarea
      class="setting-textarea"
      [(ngModel)]="value"
      (change)="change()"
    ></textarea>
  </div>

  <div *ngSwitchDefault>
    <svg-icon
      *ngIf="setting.type == 'checkbox'"
      [src]="
        value
          ? 'assets/icons/fluent/ic_fluent_checkbox_checked_24_regular.svg'
          : 'assets/icons/fluent/ic_fluent_checkbox_unchecked_24_regular.svg'
      "
      [svgClass]="'svg'"
      (click)="checkBoxChange()"
      tabindex="0"
    ></svg-icon>
    <input
      [hidden]="setting.type == 'checkbox'"
      [type]="setting.type"
      [(ngModel)]="value"
      [checked]="settingsService.settings[title]"
      (change)="change()"
    />
  </div>
</container-element>
