<app-gameboard-view class="gameboard-view"></app-gameboard-view>
<app-gameboard-controls></app-gameboard-controls>
<span class="camera-button-wrapper">
  <button
    (click)="onCameraReset()"
    class="icon-button"
    [title]="'TOOLTIPS.RESET_CAMERA' | translate"
  >
    <svg-icon
      src="assets/icons/ic_fluent_video_24_regular.svg"
      [svgClass]="'svg'"
    ></svg-icon>
  </button>
</span>
<span
  class="inventory-wrapper"
  *ngIf="settingsService.settings.fileSettings.inventoryActive"
>
  {{ controller.getCurrentSlabs() }}x

  <svg-icon
    src="assets/icons/ic_fluent_slab_24_regular.svg"
    [svgClass]="'svg'"
  ></svg-icon>
</span>
