app-gameboard-view {
  flex: 1;
  width: 100%;
  display: block;
  min-height: 0;
  overflow: hidden;
  position: relative;
}

app-gameboard-controls {
  box-shadow: -1px -2px 4px grey;
  width: 100%;
  z-index: 12;
}

.camera-button-wrapper {
  position: absolute;
  right: 0;
  top: calc(50% - 2rem);
  box-shadow: 0 0 4px grey;
  z-index: 10;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: var(--theme-main-bg-color);
}

.inventory-wrapper {
  position: absolute;
  right: 0;
  box-shadow: 0px 0px 4px grey;
  z-index: 2;
  border-bottom-left-radius: 1rem;
  padding: 0.5rem;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  background-color: var(--theme-main-bg-color);
  color: var(--theme-font-color);
}
