button {
  border: 0px;
  border-radius: 4px;
  background-color: transparent;
  color: var(--theme-font-color);
}

button:hover {
  // scale: 1.02;
  background-color: var(--theme-highlight-1);
  color: var(--theme-font-color);
  // box-shadow: 0px 2px 6px hsla(0, 0%, 0%, 0.35);
  // z-index: 1;
}

button:active {
  // box-shadow: 0px 1px 4px hsla(0, 0%, 0%, 0.35);
  background-color: var(--theme-highlight-2);
  // transition: all 0.05s ease-in-out;
}
