input[type="text"] {
  border-radius: 2px;
}
input,
select,
textarea {
  min-width: none;
  width: 100%;
  background-color: var(--theme-highlight-3);
  border: 0px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--theme-font-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
