* {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-highlight-3) transparent;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--theme-highlight-3);
}
