@use "../theme-functions" as functions;

$theme_name: "Midnight";

@include functions.generate_theme(
  $theme-font-color: hsl(0, 0%, 90%),
  $theme-main-bg-color: hsl(0, 0%, 5%),
  $theme-highlight-1: hsl(0, 0%, 5%),
  $theme-highlight-2: hsl(0, 0%, 10%),
  $theme-titlebar-bg-logo:
    linear-gradient(to top right, hsl(304, 100%, 32%), hsl(0, 87%, 69%)),
  $gb-red: #990f02,
  $gb-green: #028a0f,
  $gb-blue: #2832c2,
  $gb-yellow: #ffd300
);
