@use "../theme-functions" as functions;

$theme_name: "Light";

@include functions.generate_theme(
  $theme_name,
  $theme-font-color: hsl(0, 0%, 13%),
  $theme-font-color-invert: hsl(0, 0%, 100%),
  $theme-font-color-dim: hsl(0, 0%, 17%),
  $theme-main-bg-color: hsl(0, 0%, 100%),
  $theme-border-color: hsl(0, 0%, 85%),
  $theme-input-box: hsl(0, 0%, 100%),
  $theme-highlight-1: hsl(0, 0%, 93%),
  $theme-highlight-2: hsl(0, 0%, 85%),
  $theme-highlight-3: hsl(0, 0%, 70%),
  $theme-highlight-color-text: hsl(22, 100%, 69%),
  $theme-highlight-color-1: hsl(304, 100%, 32%),
  $theme-titlebar-bg-logo:
    linear-gradient(to top right, hsl(304, 100%, 32%), hsl(0, 87%, 69%)),
  $theme-body-bg: radial-gradient(ellipse at bottom, #a60496, #e88f5a 80%),
  $gb-red: #990f02,
  $gb-green: #028a0f,
  $gb-blue: #2832c2,
  $gb-yellow: #ffd300
);
