@use "../abstracts/transitions" as transitions;
@use "../abstracts/variables";

.split-container {
  display: flex;
  /* Misc */
  flex: 1;
  width: 100%;
  min-height: 0;
  padding: 0.5rem;
}

.split-container-left {
  /* Initially, the left takes 1/2 width */
  width: 50%;
}

.split-container-right {
  /* Take the remaining width */
  flex: 1;
  height: 100%;
  min-width: 34rem;
}

.split-container-left,
.split-container-right {
  background-color: var(--theme-main-bg-color);
  border-radius: variables.$border-radius;
}

.split-border {
  cursor: ew-resize;
  height: 100%;
  width: 0.8rem;
  position: relative;

  flex: none;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  font-size: 2.5rem;
  line-height: 0.6rem;

  color: var(--theme-font-color);
}

app-editor {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-gameboard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-titlebar {
  display: flex;
  height: 2rem;
  background-color: var(--theme-highlight-1);
  box-shadow: var(--box-shadow-elevation-1);
  position: relative;
  z-index: 10;
  align-items: center;
  @include transitions.bg-color-transition;
}

.file-input {
  display: none;
}

.icon-button {
  border: 0px;
  min-height: 3rem;
  border-radius: 4px;
  margin: 0.5rem;
  background-color: transparent;
  transition: all 0.1s ease-in-out;
}

.icon-button:hover {
  scale: 1.02;
  background-color: var(--theme-highlight-1);
  box-shadow: 0px 2px 6px hsla(0, 0%, 0%, 0.35);
}

.icon-button:active {
  box-shadow: 0px 1px 4px hsla(0, 0%, 0%, 0.35);
  background-color: var(--theme-highlight-2);
  transition: all 0.05s ease-in-out;
}

.svg {
  height: 2rem;
  width: 2rem;
  margin: 0.25rem;
  path {
    fill: var(--theme-font-color);
  }
}
