@use "../abstracts/variables";

setting {
  display: block;
  border: 2px solid transparent;
  border-radius: variables.$border-radius;
  padding: 0.5rem;

  h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  .svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  svg-icon {
    height: 2rem;
  }
}

settings-group h1 {
  border: 2px solid transparent;
  border-radius: variables.$border-radius;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 1.5rem;
  margin: 0;
}

setting:hover:not(.setting-selected) {
  background-color: var(--theme-highlight-1);
}

.setting-selected {
  background-color: var(--theme-highlight-2);
  border-color: var(--theme-highlight-3);
}

.setting-checkbox-wrapper {
  display: flex;
  flex-direction: row-reverse;

  input {
    width: 1.5rem;
    margin-right: 0.5rem;
    height: 1.5rem;
  }

  justify-content: left;
}
