@use "sass:math";
@use "../abstracts/transitions" as transitions;

.app-titlebar-logo-area {
  flex: 0 0 3.5rem;
  height: inherit;
  text-align: center;
  border-radius: 0 math.div(5rem, 16) math.div(5rem, 16) 0;
  background-image: var(--theme-titlebar-bg-logo);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  @include transitions.bg-img-transition;
}

.app-titlebar-logo {
  height: inherit;
  padding: 0.4rem;
  user-select: none;
  cursor: default;
}

.titlebar-folder-list-hidden {
  display: none;
}

.titlebar-folder-list {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--theme-main-bg-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.titlebar-folder {
  position: relative;
  display: inline-block;
}

.titlebar-folder:hover .titlebar-folder-header {
  background-color: var(--theme-highlight-4);
}

.titlebar-folder:hover .titlebar-folder-list {
  display: flex;
}

.titlebar-folder-header,
.titlebar-element {
  font-size: 16px;
}

.titlebar-element {
  padding: 0.25rem;
}
