<div class="app-titlebar-logo-area">
  <img
    src="assets/logo_monochrome_white.svg"
    class="app-titlebar-logo"
  />
</div>

<div class="app-titlebar-button-container">
  <div ngbDropdown *ngFor="let item of titlebar | keyvalue: originalOrder">
    <button class="app-titelbar-button" id="item.key" ngbDropdownToggle>
      {{ "NAVBAR." + item.key + ".TITLE" | translate }}
    </button>
    <div ngbDropdownMenu [attr.aria-labelledby]="item.key">
      <button
        ngbDropdownItem
        *ngFor="let subItem of item.value | keyvalue: originalOrder"
        (click)="subItem.value()"
        [disabled]="!subItem.value"
      >
        {{ "NAVBAR." + item.key + "." + subItem.key | translate }}
      </button>
    </div>
  </div>
</div>
