<div class="app-titlebar-logo-area">
  <input
    type="image"
    src="assets/logo_monochrome_white.svg"
    class="app-titlebar-logo"
    disabled="True"
  />
</div>

<div class="app-titlebar-button-container">
  <button class="app-titelbar-button">Datei</button>
  <button class="app-titelbar-button" (click)="openSettings()">
    Bearbeiten
  </button>
  <button class="app-titelbar-button">Ausführen</button>
  <button class="app-titelbar-button">Editor</button>
  <button class="app-titelbar-button">Welt</button>
  <button class="app-titelbar-button">Hilfe</button>
</div>
