.titlebar-folder-list-hidden {
  display: none;
}

.titlebar-folder-list {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.titlebar-folder {
  position: relative;
  display: inline-block;
}

.titlebar-folder:hover .titlebar-folder-header {
  background-color: orange;
}

.titlebar-folder:hover .titlebar-folder-list {
  display: flex;
}
