@use "sass:math";
@use "../../themes"as themes;

.app-titlebar-logo-area {
  width: 3.5rem;
  height: inherit;
  text-align: center;
  border-radius: 0 math.div(5rem, 16) math.div(5rem, 16) 0;
  background-image: var(--theme-titlebar-bg-logo);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  @include themes.bg-img-transition;
}

.app-titlebar-logo {
  height: inherit;
  padding: 0.4rem;
  user-select: none;
  cursor: default;
}

.app-titlebar-button-container {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(6, [col-start] auto [col-end]);
  margin: 0 0 0 0.75rem;
}

.app-titelbar-button {
  color: var(--theme-font-color);
  height: inherit;
  border-color: transparent;
  background-color: transparent;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem;

  @include themes.bg-highlight-color-transition;
  @include themes.color-transition;
}

.app-titelbar-button:hover,
.dropdown-item:hover {
  background-color: var(--theme-highlight-2);
}

.dropdown-menu {
  background-color: var(--theme-highlight-1);
}

.dropdown-item {
  color: var(--theme-font-color);
}

.dropdown-toggle::after {
  display: none;
}
