<div class="app-titlebar-logo-area">
  <input
    type="image"
    src="assets/logo_monochrome_white.svg"
    class="app-titlebar-logo"
    disabled="True"
  />
</div>

<div class="app-titlebar-button-container">
  <div ngbDropdown *ngFor="let item of titlebar | keyvalue: originalOrder">
    <button class="app-titelbar-button" id="item.key" ngbDropdownToggle>
      {{ item.key }}
    </button>
    <div ngbDropdownMenu [attr.aria-labelledby]="item.key">
      <button
        ngbDropdownItem
        *ngFor="let subItem of item.value | keyvalue: originalOrder"
        (click)="subItem.value()"
        [disabled]="!subItem.value"
      >
        {{ subItem.key }}
      </button>
    </div>
  </div>
</div>
