@use "../../themes"as themes;

app-editor-view {
  flex: 1;
  width: 100%;
  display: block;
  min-height: 0;
  overflow: hidden;
  position: relative;
}

app-editor-controls {
  box-shadow: -1px -2px 4px grey;
  width: 100%;
  z-index: 12;
}

.codemirrorhost {
  height: 100%;
  display: block;
  overflow: auto;
}

.cm-editor {
  height: 100%;
}

.cm-gutter {
  @include themes.bg-color-transition;
}

//TODO Comments

.ͼ1 {
  .cm-lineNumbers {
    .cm-gutterElement {
      transition: none;
      min-width: 2.5rem;
    }
  }

  .cm-panel {
    background-color: var(--theme-main-bg-color);
  }
}

.ͼ2 {
  .cm-line {
    color: var(--theme-font-color-dim);
    padding-left: 1rem;
  }

  .cm-gutters {
    border: none;
    background-color: var(--theme-highlight-1);
    box-shadow: var(--box-shadow-elevation-1);
    @include themes.bg-color-transition;
  }

  .cm-activeLine {
    background-color: var(--theme-highlight-2);
    color: var(--theme-font-color);
  }

  .cm-activeLineGutter {
    background-color: var(--theme-highlight-2);
  }

  .cm-panels {
    border: none;
    box-shadow: var(--box-shadow-elevation-1-center);
  }

  .cm-button {
    background: var(--theme-highlight-1);
  }

  .cm-textfield {
    border: 1px solid silver;
    @include themes.textfield-borderradius;
  }

  .cm-textfield:focus-visible {
    @include themes.textfield-borderradius;
  }
}

.ͼ4 {
  .cm-line::selection {
    // !important required
    background-color: var(--theme-highlight-2) !important;
  }
}
