@mixin generate_theme(
  $theme-name: "null",
  $theme-font-color: red,
  $theme-font-color-invert: red,
  $theme-font-color-dim: red,
  $theme-main-bg-color: red,
  $theme-border-color: red,
  $theme-input-box: red,
  $theme-highlight-1: red,
  $theme-highlight-2: red,
  $theme-highlight-3: red,
  $theme-highlight-color-text: red,
  $theme-highlight-color-1: red,
  $theme-titlebar-bg-logo: red,
  $theme-body-bg: red,
  $box-shadow-color: red,
  $gb-red: red,
  $gb-green: red,
  $gb-blue: red,
  $gb-yellow: red
) {
  html[light-theme="#{$theme_name}"] {
    @include -fill_stylesheet(
      $theme-font-color,
      $theme-font-color-invert,
      $theme-font-color-dim,
      $theme-main-bg-color,
      $theme-border-color,
      $theme-input-box,
      $theme-highlight-1,
      $theme-highlight-2,
      $theme-highlight-3,
      $theme-highlight-color-text,
      $theme-highlight-color-1,
      $theme-titlebar-bg-logo,
      $theme-body-bg,
      $box-shadow-color,
      $gb-red,
      $gb-green,
      $gb-blue,
      $gb-yellow
    );
  }

  html[dark-theme="#{$theme_name}"] {
    @media (prefers-color-scheme: dark) {
      @include -fill_stylesheet(
        $theme-font-color,
        $theme-font-color-invert,
        $theme-font-color-dim,
        $theme-main-bg-color,
        $theme-border-color,
        $theme-input-box,
        $theme-highlight-1,
        $theme-highlight-2,
        $theme-highlight-3,
        $theme-highlight-color-text,
        $theme-highlight-color-1,
        $theme-titlebar-bg-logo,
        $theme-body-bg,
        $box-shadow-color,
        $gb-red,
        $gb-green,
        $gb-blue,
        $gb-yellow
      );
    }
  }
}

@mixin -fill_stylesheet(
  $theme-font-color,
  $theme-font-color-invert,
  $theme-font-color-dim,
  $theme-main-bg-color,
  $theme-border-color,
  $theme-input-box,
  $theme-highlight-1,
  $theme-highlight-2,
  $theme-highlight-3,
  $theme-highlight-color-text,
  $theme-highlight-color-1,
  $theme-titlebar-bg-logo,
  $theme-body-bg,
  $box-shadow-color,
  $gb-red,
  $gb-green,
  $gb-blue,
  $gb-yellow
) {
  --theme-font-color: #{$theme-font-color};
  --theme-font-color-invert: #{$theme-font-color-invert};
  --theme-font-color-dim: #{$theme-font-color-dim};
  --theme-main-bg-color: #{$theme-main-bg-color};
  --theme-border-color: #{$theme-border-color};
  --theme-input-box: #{$theme-input-box};
  --theme-highlight-1: #{$theme-highlight-1};
  --theme-highlight-2: #{$theme-highlight-2};
  --theme-highlight-3: #{$theme-highlight-3};
  --theme-highlight-color-text: #{$theme-highlight-color-text};
  --theme-highlight-color-1: #{$theme-highlight-color-1};
  --theme-titlebar-bg-logo: #{$theme-titlebar-bg-logo};
  --theme-body-bg: #{$theme-body-bg};
  --box-shadow-color: #{$box-shadow-color};

  --gb-red: #{$gb-red};
  --gb-green: #{$gb-green};
  --gb-blue: #{$gb-blue};
  --gb-yellow: #{$gb-yellow};
}
