@use "../themes"as themes;

.split-container {
  display: flex;
  /* Misc */
  flex: 1;
  width: 100%;
  min-height: 0;
}

.split-container-left {
  /* Initially, the left takes 1/2 width */
  width: 50%;
}

.split-border {
  background-color: darkslategray;
  cursor: ew-resize;
  height: 100%;
  width: 2px;
  position: relative;
}

.split-container-right {
  /* Take the remaining width */
  flex: 1;
  height: 100%;
  min-width: 34rem;
}

app-editor {
  height: 100%;
  display: block;
}

app-gameboard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-titlebar {
  display: flex;
  height: 2rem;
  background-color: var(--theme-titlebar-bg-color);
  box-shadow: 0px 2px 6px hsla(0, 0%, 0%, 0.35);
  position: relative;
  z-index: 10;
  align-items: center;
  @include themes.bg-color-transition;
}

.touch-border {
  width: 4px;
}

.inner-border {
  width: 10px;
  background-color: transparent;
  height: 100%;
  position: absolute;
  left: -5px;
  z-index: 11;
}

.touch-inner-border {
  width: 40px;
  left: -10px;
}
