<app-titlebar></app-titlebar>
<div class="split-container">
  <div class="split-container-left">
    <tabs [name]="'left-tabs'">
      <pane [title]="'TABS.EDITOR'">
        <app-editor></app-editor>
      </pane>
      <pane [title]="'TABS.SETTINGS'"><app-settings></app-settings></pane>
    </tabs>
  </div>
  <div #splitBorder class="split-border">.<br />.<br />.</div>
  <div class="split-container-right">
    <app-gameboard></app-gameboard>
  </div>
</div>
<input
  type="file"
  class="file-input"
  accept=".coralworld,.json"
  id="fileUpload"
/>
