<app-titlebar></app-titlebar>
<div class="split-container">
  <div class="split-container-left">
    <tabs [name]="'left-tabs'">
      <tab-pane
        [title]="'TABS.EDITOR'"
        [icon]="'assets/icons/fluent/ic_fluent_code_24_regular.svg'"
      >
        <app-editor></app-editor>
      </tab-pane>
      <tab-pane
        [title]="'TABS.SETTINGS'"
        [icon]="'assets/icons/fluent/ic_fluent_settings_24_regular.svg'"
        ><app-settings></app-settings
      ></tab-pane>
    </tabs>
  </div>
  <div #splitBorder class="split-border">.<br />.<br />.</div>
  <div class="split-container-right">
    <app-gameboard></app-gameboard>
  </div>
</div>
<input
  type="file"
  class="file-input"
  accept=".coralworld,.json"
  id="fileUpload"
/>
