.split-container {
  display: flex;
  /* Misc */
  flex: 1;
  width: 100%;
  min-height: 0;
}

.split-container-left {
  /* Initially, the left takes 1/2 width */
  width: 50%;
}

.split-border {
  background-color: darkslategray;
  cursor: ew-resize;
  height: 100%;
  width: 2px;
}

.split-container-right {
  /* Take the remaining width */
  flex: 1;
  height: 100%;
}

app-editor {
  height: 100%;
  display: block;
}

app-gameboard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-titlebar {
  display: block;
  height: 32px;
  box-shadow: 0px 2px 4px grey;
  position: relative;
  z-index: 10;
}
