<div class="left-controls controls">
  <button (click)="onRotate()">
    <img
      src="assets/icons/ic_fluent_arrow_rotate_counterclockwise_24_regular.svg"
      alt="RL"
    />
  </button>
  <button (click)="onMove()">
    <img src="assets/icons/ic_fluent_arrow_up_24_regular.svg" alt="M" />
  </button>
  <button (click)="onRotate(-1)">
    <img
      src="assets/icons/ic_fluent_arrow_rotate_clockwise_24_regular.svg"
      alt="RR"
    />
  </button>
</div>

<div class="separator"></div>
<div class="right-controls controls">
  <button (click)="cube = !cube">
    <img
      [src]="
        cube
          ? 'assets/icons/ic_fluent_cube_24_regular.svg'
          : 'assets/icons/ic_fluent_slab_24_regular.svg'
      "
      alt="B"
    />
  </button>
  <div class="color-wrapper" *ngIf="!cube">
    <div [style]="style" class="color-menu">
      <button [style.background-color]="colors[color]">
        <img
          src="assets/icons/ic_fluent_color_24_regular.svg"
          alt="A"
          (click)="onColorMenu()"
        />
      </button>
      <ng-container *ngIf="colorExpanded">
        <button
          *ngFor="let c of colors | keyvalue"
          class="colorbtn"
          [style.background-color]="c.value"
          [style.display]="c.key == color ? 'none' : ''"
          (click)="onColorSelect(c.key)"
        ></button>
      </ng-container>
    </div>
  </div>
  <button (click)="onPlace()">
    <img src="assets/icons/ic_fluent_add_square_24_regular.svg" alt="A" />
  </button>
  <button (click)="onPickUp()">
    <img src="assets/icons/ic_fluent_subtract_square_24_regular.svg" alt="S" />
  </button>
</div>
