<button (click)="onRotate()">
  <img
    src="assets/icons/ic_fluent_arrow_counterclockwise_24_regular.svg"
    alt="RL"
  />
</button>
<button (click)="onMove()">
  <img src="assets/icons/ic_fluent_arrow_up_24_regular.svg" alt="M" /></button
><button (click)="onRotate(-1)">
  <img src="assets/icons/ic_fluent_arrow_clockwise_24_regular.svg" alt="RR" />
</button>
<div class="separator"></div>
<button><img src="assets/icons/ic_fluent_cube_24_regular.svg" alt="B" /></button
><button>
  <img src="assets/icons/ic_fluent_add_square_24_regular.svg" alt="A" />
</button>
<button>
  <img src="assets/icons/ic_fluent_add_square_24_regular.svg" alt="S" />
</button>
