@use "sass:math";

.separator {
  background-color: var(--theme-highlight-2);
  width: 2px;
  height: 2.5rem;
  border-radius: 2px;
}

.separator {
  margin: 0.5rem;
}

.controls {
  flex: 1;
  display: flex;
}

.left-controls {
  justify-content: flex-end;
}

.wrapper {
  min-width: 4rem;
}

.menu {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 6px;
  margin: 0.25rem;
}

.openMenu {
  position: absolute;
  margin-top: -6.75rem;
  background-color: var(--theme-main-bg-color);
  box-shadow: 0 0 2px 2px lightgray;
}

.menu button {
  margin: 0.25rem;
}

.colorbtn {
  border-radius: 2rem;
}

.settingsbtn {
  margin-right: 0.75rem;
}

.control-panel {
  display: flex;
  justify-content: center;
}

.settings-panel {
  box-shadow: -1px -2px 4px grey;
}

.file-input {
  display: none;
}
