.wy-side-nav-search,
.wy-nav-top {
    background-image: linear-gradient(to top right, #a30098, #f56b6b);
}

.wy-side-nav-search input[type="text"] {
    border-color: #891381;
}

.wy-side-nav-search>div.version {
    color: hsla(0, 0%, 100%, .8)
}
