::ng-deep .modal-content {
  max-width: fit-content;
  min-width: 600px;
}

.settings-modal-wrapper {
  display: flex;
  flex-direction: row;
}

.separator {
  width: 2px;
  background-color: var(--theme-highlight-2);
}

.mode {
  padding: 1rem;
}

.mode-highlight {
  background-color: var(--theme-highlight-1);
}

.modal-mode-body {
  padding: 0px;
}

.mode-button {
  background-color: transparent;
  border: 0px;
  width: 100%;
  color: var(--theme-font-color);
}

.nameField {
  min-width: 40%;
}

.number-field {
  text-align: right;
}

world-settings-modal,
general-settings-modal,
editor-settings-modal {
  width: 100%;
}
