@use "themes" as themes;
@import "~ngx-toastr/toastr";

// Theme loading
@media (prefers-color-scheme: light) {
  html[light-color-scheme="light"] {
    @include themes.theme-light;
  }
  html[light-color-scheme="dark"] {
    @include themes.theme-dark;
  }
  html[light-color-scheme="midnight"] {
    @include themes.theme-midnight;
  }
}

@media (prefers-color-scheme: dark) {
  html[dark-color-scheme="light"] {
    @include themes.theme-light;
  }
  html[dark-color-scheme="dark"] {
    @include themes.theme-dark;
  }
  html[dark-color-scheme="midnight"] {
    @include themes.theme-midnight;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--theme-main-bg-color);
  @include themes.bg-color-transition;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
