<div class="titlebar-folder">
  <button class="titlebar-folder-header" (click)="clicked.emit(true)">
    {{ "NAVBAR." + folder.key + ".TITLE" | translate }}
  </button>
  <div
    [ngClass]="{
      'titlebar-folder-list': expanded,
      'titlebar-folder-list-hidden': !expanded
    }"
  >
    <button
      *ngFor="let element of folder.value | keyvalue: originalOrder"
      (click)="elementClick(element.value)"
      class="titlebar-element"
    >
      {{ "NAVBAR." + folder.key + "." + element.key | translate }}
    </button>
  </div>
</div>
